$def with (render)
$var title: rmt - Host History
$var cssfiles: /static/bootstrap/css/bootstrap.css
$var scripts: /static/js/flot/jquery.flot.js /static/js/charts.js

<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>History <small>$render['address']</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                CPU
            </div>
            <div id="cpu-panel" class="panel-body">
                <div id="cpu_chart" style="width: 400px; height: 200px">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                RAM
            </div>
            <div class="panel-body">
                <div id="ram_chart" style="width: 400px; height: 200px">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Temperature
            </div>
            <div class="panel-body">
                <div id="temp_chart" style="width: 400px; height: 200px">
                </div>
            </div>
        </div>
    </div>
</div>
$if render['cpu_data'] != []:
    <script type="text/javascript">
        $$(document).ready(drawChart($render['cpu_data'], "#cpu_chart"));
    </script>
$else:
    <script type="text/javascript">
        $$(document).ready(function() {
            var div = document.getElementById("cpu_panel");
            div.innerHTML = "<div class='text-danger'>No CPU data found</div>"
        });
    </script>

$if render['ram_data'] != []:
    <script type="text/javascript">
        $$(document).ready(drawChart($render['ram_data'], '#ram_chart'));
    </script>

$if render['temp_data'] != []:
    <script type="text/javascript">
        $$(document).ready(drawTemp($render['temp_data'], '#temp_chart'));
    </script>