$def with (containers, cpu_usage, ram_usage)
$var title: Pi Master - Host
$var cssfiles: /static/bootstrap/css/bootstrap.css
<div class="page-header">
    <h1>
        RMT - Pi Master - Host
    </h1>
</div>

$if cpu_usage:
    CPU Usage(%): $cpu_usage
<br>
$if ram_usage:
    RAM Usage (KiB): $ram_usage['used'] / $ram_usage['total']
<p>
$if containers:
    <table>
        <tr>
            $for key in containers[0].keys():
                <td>$key</td>
        </tr>
        $for container in containers:
            <tr>
                $for value in container.values():
                    <td>
                        $if value == None:
                            None
                        $value
                    </td>
            </tr>
    </table>
$else:
    No containers were found
</p>