$def with (host_addr, containers, cpu_usage, ram_usage, temp)
$var title: rmt - $host_addr
$var cssfiles: /static/bootstrap/css/bootstrap.css


<div class="container">
	<div class="row">
		<div class="page-header">
			<h1>
				Host <small>$host_addr</small>
			</h1>
		</div>
        <!--TODO: add in state mechanism for labels-->
		$if cpu_usage:
			<h4>CPU Usage(%): <span class="label label-default">$cpu_usage</span></h4>
		$else:
			<h4>CPU Usage(%): <span class="label label-info">Unknown</span></h4>
		$if ram_usage:
			<h4>RAM Usage (MiB): <span class="label label-default">$ram_usage['used'] / $ram_usage['total']</span></h4>
		$else:
			<h4>RAM Usage (MiB): <span class="label label-info">Unknown</span></h4>
		$if temp:
			<h4>Temperature (°C): <span class="label label-default">$temp</span></h4>
		$else:
			<h4>Temperature (°C): <span class="label label-info">Unknown</span></h4>
	</div>
    <div class="row">
		$if containers:
			<table class="table table-striped">
			<thead>
			$for key in containers[0].keys():
				<th>$key</th>
			</thead>
			$for container in containers:
				<tr>
				$for value in container.values():
					<td>
						$if value == None:
							None
						$value
					</td>
				</tr>
			</table>
		$else:
        <!--TODO: add more visually appealing handler for this-->
			No containers were found
		</p>
	</div>
</div>

