$def with (hosts, form)
$var title: Pi Master
$var cssfiles: /static/bootstrap/css/bootstrap.css

<div class="container">
    <div class="row">

        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Red Stack
                </div>
                <div class="list-group">
                    $for host in hosts['red']
                    $ link = "/host/%d" % host.id
                    <a class=list-group-item href="$link">$host.address</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Yellow Stack
                </div>
            </div>

        </div>

        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Grey Stack
                </div>
            </div>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Green Stack
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 well">
            <form role="form" class="form-inline" name="stack-form" method="post" action="add">
                $if not form.valid: <p class="error">Invalid entry</p>
                <div class="form-group">
                    $:form.address.render()
                </div>
                <div class="form-group">
                    $:form.stack.render()
                </div>
                <button value="Add" type="submit" class="form-control btn btn-info">Submit</button>

            </form>
        </div>
    </div>
</div>


