$def with (hosts, refresh_time)
$var title: rmt - Overview
$var cssfiles: /static/bootstrap/css/bootstrap.css /static/style.css
$var scripts:

<meta http-equiv="refresh" content="$refresh_time">

<div class="container">
    <div class="row">

        <div class="col-md-6 col-lg-3 col-sm-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    Red Stack
                </div>
                <div class="list-group">
                    $for host in hosts['red']

                        $ link = "/host/%s" % host.id
                        $ state = host.hbstate
                        <a class="list-group-item list-group-item-$state" href="$link">$host['address']</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Yellow Stack
                </div>
                <div class="list-group">
                    $for host in hosts['yellow']

                        $ link = "/host/%s" % host.id
                        $ state = host.hbstate
                        <a class="list-group-item list-group-item-$state" href="$link">$host['address']</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Grey Stack
                </div>
                <div class="list-group">
                    $for host in hosts['grey']

                        $ link = "/host/%s" % host.id
                        $ state = host.hbstate
                        <a class="list-group-item list-group-item-$state" href="$link">$host['address']</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Green Stack
                </div>
                <div class="list-group">
                    $for host in hosts['green']
                        $ link = "/host/%s" % host.id
                        $ state = host.hbstate
                        <a class="list-group-item list-group-item-$state" href="$link">$host['address']</a>
                </div>
            </div>
        </div>
    </div>

</div>


