$def with (hosts, form)
$var title: Pi Master
$var cssfiles: /static/bootstrap/css/bootstrap.css

<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>
                Overview
            </h1>
        </div>
        $if hosts:
        <table class="table">
            <tr><th>Host</th><th>Stack</th></tr>
            $for host in hosts:
            <tr>
                $ link = "/host/%d" % host.id
                <td><a href=$link>$host.address</a></td>
                <td>$host.stack</td>
            </tr>
        </table>
    </div> <!-- /row -->

    <div class="row">

        <!--<form class="well" method="post" action="add">
            <input type="text" class="form-control" placeholder="0.0.0.0:8080..." name="address">
            <label class="radio-inline">
                <input type="radio" checked="true" name="stack-red">Red
            </label>
            <label class="radio-inline">
                <input type="radio" name="stack-yellow">Yellow
            </label>
            <label class="radio-inline">
                <input type="radio" name="stack-grey">Grey
            </label>
            <label class="radio-inline">
                <input type="radio" name="stack-green">Green
            </label>
            <button value="Add" type="submit" class="btn btn-default">Submit</button>
        </form>
        -->
        <div class="col-lg-6 well">
            <form role="form" class="form-inline" name="stack-form" method="post" action="add">
                $if not form.valid: <p class="error">Invalid entry</p>
                <div class="form-group">
                    $:form.address.render()
                </div>
                <div class="form-group">
                    $:form.stack.render()
                </div>
                <button value="Add" type="submit" class="form-control btn btn-info">Submit</button>

            </form>
        </div>
    </div>
</div>


